table {
  width: 100%;
}

.md-display-4{
  text-align:left;
}

.md-display-2{
  text-align:right;
}

.mat-header-cell {
text-align:center;
}

h1{
  margin-top:20px;
  margin-left:10px;
}
.times{
  position:relative;
  margin-bottom:20px;
}
