<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <h1>Track your cryptocurrency holdings</h1>

<br>
  <a [routerLink]="['/coin-add']">
    <button class="btn btn-primary pull-right">
      Add a coin
    </button>
  </a>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0" *ngIf="coins && coins.length">
        <thead>
          <tr>
            <th>Currency</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody *ngIf="coins">
          <tr *ngFor="let coin of coins">
            <td>{{ coin.coinName }}</td>
            <td>{{coin.price |currency:'EUR':'symbol':'1.2-2'}}</td>
            <td>{{coin.amount }}</td>
            <td>{{(coin.amount * coin.price)|currency:'EUR':'symbol':'1.2-2'}}</td>
          </tr>
        </tbody>
       
      </table>
    </div>

  </div>
