<form
  [formGroup]="coinService.form"
  class="coin-form"
  (ngSubmit)="onSubmit()"
>
  <h2 class="dialog-title">Add / Edit Coin</h2>
  <input type="hidden" formControlName="$key" />
  <div class="controls-container">
      <!-- Als coinsymbol leeg is, doe toevoeging met autocomplete field -->
      <div *ngIf="!message; else elseBlock">
        <mat-form-field class="coin-full-width">
          <input
            type="text"
            matInput
            placeholder="Coin"
            aria-label="coin name"
            [matAutocomplete]="auto"
            [formControl]="coinName"
            minlength="2"
          />

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let coin of filteredCoins | async"
              [value]="coin.symbol"
            >
              <img
                class="coin-option-img"
                aria-hidden
                [src]="getImage(coin)"
                height="25"
              />
              <span>{{ coin.symbol }}</span> |
              <small>Name: {{ coin.name }}</small>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="!checkCoinSymbol(coinName.value)">
            Insert valid coin
          </mat-error>
        </mat-form-field>
      </div>
      <ng-template #elseBlock>
        <mat-form-field>
          <input
            placeholder="Coin Symbol"
            matInput
            disabled
            [value]="message"
            aria-label="coin name"
            #spy
          />
        </mat-form-field>
      </ng-template>

      <mat-form-field>
        <input
          formControlName="amount"
          type="number"
          min="0"
          matInput
          placeholder="Amount"
          aria-label="amount"
          required
          #spy
        />
        <mat-error>More than 0 units required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="priceBought"
          type="number"
          min="0"
          matInput
          placeholder="Price Bought"
          aria-label="price bought"
        />
      </mat-form-field>
      <mat-form-field>
        <input formControlName="date" type="date" matInput placeholder="Date" />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Exchange"
          aria-label="Exchange"
          formControlName="exchange"
          [matAutocomplete]="autoExchange"
        />
        <mat-autocomplete #autoExchange="matAutocomplete">
          <mat-option *ngFor="let exchange of filteredExchanges | async" [value]="exchange">
            {{ exchange }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="button-row">
        <button
          class="save-btn"
          type="submit"
          [disabled]="!coinService.form.valid"
        >
          Save
        </button>
        <button class="close-btn" type="button" (click)="onClose()">Close</button>
      </div>
    </div>
</form>

