<!-- <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <ul class='nav nav-pills'>
      <li><a class='navbar-brand'[routerLink]="['/coin-list']">{{pageTitle}}</a></li>
      <li><a class='nav-link' [routerLink]="['/login']">login</a></li>
      <li><a class='nav-link'[routerLink]="['/register']">register</a></li>
    </ul>
  </nav> -->
<mat-sidenav-container>
  <mat-sidenav mode="push" position="end" [(opened)]="opened">
    <h1>API's used</h1>

    <ul>
      <li>https://min-api.cryptocompare.com</li>
      <li>https://api.coincap.io</li>
    </ul>
<br><br><br><br><br><br>
    <!-- <p class="footer">Made with love.</p> -->
  </mat-sidenav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/coin-list']">
      <span
        ><img
          draggable="false"
          src="assets/svg/white/btc.svg"
          style="width: 30px; height: 30px;"
        />&nbsp; &nbsp;</span
      >{{ pageTitle }}</a
    >
    <ul class="navbar-nav">
      <div *ngIf="auth.user$ | async as user; else login">
        <li class="nav-item">
          <p class="displayName">
            Keep HODLing,
            {{ user.displayName.split(" ").slice(0, 1).join(" ") }}!
          </p>
        </li>
        <li class="" style="position: absolute; top: 0; left: 15.5em;">
          <a href="javascript:;" class="nav-link" (click)="auth.signOut()"
            >Sign Out</a
          >
        </li>
      </div>
      <ng-template #login>
        <li class="" style="position: absolute; top: 0; left: 15.5em;">
          <a href="javascript:;" class="nav-link" (click)="auth.googleSignin()"
            >Sign in</a
          >
        </li>
      </ng-template>
    </ul>
    <li class="infoButton">
      <a href="javascript:;" (click)="opened = !opened">
        <mat-icon>info</mat-icon>
      </a>
      <!-- <a [routerLink]="['info']">
        <mat-icon>info</mat-icon>
        </a> -->
    </li>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<!-- <app-main-nav>
  <router-outlet></router-outlet>
</app-main-nav> -->
