
  <mat-sidenav-container>
    <mat-sidenav mode="push" position="end" [(opened)]="opened">
      <h1>API's used</h1>
      <ul>
        <li>https://min-api.cryptocompare.com</li>
        <li>https://api.coincap.io</li>
      </ul>
  <br><br><br><br><br><br>
    </mat-sidenav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/coin-list']">
        <span
          ><img
            draggable="false"
            src="assets/svg/white/btc.svg"
            style="width: 30px; height: 30px;"
          />&nbsp; &nbsp;</span
        >{{ pageTitle }}</a
      >
      <ul class="navbar-nav">
        <div *ngIf="auth._user$ | async as user; else login">
     
          <li>
            <a href="javascript:;" class="nav-link" (click)="auth.logout()" [routerLink]="['login']"
              >Sign Out</a
            >
          </li>
        </div>
        <ng-template #login>
          <li>
            <a href="javascript:;" class="nav-link" [routerLink]="['login']"
              >Login</a
            >
          </li>
        </ng-template>
        <li><a class='nav-link'[routerLink]="['register']">Register</a></li>
      </ul>
      <li class="infoButton">
        <a href="javascript:;" (click)="opened = !opened">
          <mat-icon>info</mat-icon>
        </a>
      </li>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>