<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <br>
  <h1>Track your cryptocurrency holdings</h1>
  <button class="btn btn-primary pull-right" (click)="onCreate()">
    Add a coin
  </button>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0" *ngIf="coinsIndividu$">
        <thead>
          <tr>
            <h2>Total: {{ customerTotal|currency:'EUR':'symbol':'1.2-2'}}</h2>
          </tr>
          <tr>
            <th>Currency</th>
            <th matTooltip="Live Price"
            matTooltipPosition="above"
            >Price
              <span class="pulsating-circle"></span>
            </th>
            <th>Amount</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
          <div *ngIf="(coinsIndividu$ | async); else loadingOrError">
          <tbody *ngIf="coins">
            <tr *ngFor="let coin of coinsIndividu$ | async">
            <td>{{ coin.name }}</td>
            <td>{{coin.currentPrice |currency:'EUR':'symbol':'1.2-2'}}</td>
            <td>{{coin.amount }}</td>
            <td>{{(coin.amount * coin.price)|currency:'EUR':'symbol':'1.2-2'}}</td>
            <td id="let row">
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </div>
      <ng-template #loadingOrError>
        <span *ngIf="errorMessage; else loading">
          Error loading the recipe list: {{ errorMessage }}. <br/>
      Please try again later.
        </span>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </ng-template>
    </table>
       <!--  <ng-template #loadingOrError>
          <mat-card class="error" *ngIf="errorMessage; else loading">
             Error loading the recipe list: {{ errorMessage }}. <br/>
              Please try again later.
            <ng-template #loading>
              <mat-spinner></mat-spinner>
            </ng-template>
          </mat-card>
        </ng-template>  -->
     <!--  </div> -->
      
    </div>
  </div>
  
